<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "0.0.2">

<!--dislpay name for the app-->
<name>Run App</name>

<description>
Test app for Game Hack.
</description>

<author href="" email="andrewakagawa@gmail.com">
Andrew Akagawa
</author>

</widget>

