#welcome {
	text-align: center;
}

.tutorial {
	text-align: center;
}

.tutorial h1 {
	font-weight:normal;
}

.icon {
	display:block;
	margin:0 auto;
	width:100px;
	opacity:0.6;
	margin-bottom:50px;
}

.centered {
	display:block;
	margin:0 auto;
}
.groupicon {
	width:100%;
}

.groupicon .icon {
	display:inline;
}

div.rabbitfull {
	width:208px;
	height:188px;
}

.avatar {
	width:50px;
}

.fit-default {
	background: url("images/rabbitavatar_fit_default.png") no-repeat right center;
	width:100%;
}

.fit-blue {
	display:block;
	margin:0 auto;
	width:208px;
	height:188px;
	background: url("images/rabbitavatar_fit_blue.png") no-repeat right center;
}

.weekly-pink {
	display:block;
	margin:0 auto;
	width:208px;
	height:188px;
	background: url("images/rabbitavatar_fit_blue.png") no-repeat right center;
}
