#welcome {
	text-align: center;
}

.tutorial {
	text-align: center;
}

.tutorial h1 {
	font-weight:normal;
}

.icon {
	display:block;
	margin:0 auto;
	width:100px;
	opacity:0.6;
	margin-bottom:50px;
}

.groupicon {
	width:100%;
}

.groupicon .icon {
	display:inline;
}

.fit-default {
	display:block;
	margin:0 auto;
	width:208px;
	height:188px;
	background: url("images/rabbitavatar_fit default.png") no-repeat right center;
}